body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.stopwatch-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

#display {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.controls button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #0056b3;
}

.laps-container{
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.hidden-scrollbar-div::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
#laps {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
    overflow: auto;
}

#laps li {
    background-color: #e9ecef;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}
